Checks: >
    -*,
    bugprone-*,
    clang-analyzer-*,
    concurrency-*,
    cppcoreguidelines-*,
    misc-*,
    modernize-*,
    -modernize-concat-nested-namespaces,
    -modernize-return-braced-init-list,
    -modernize-use-nodiscard,
    -modernize-use-trailing-return-type,
    performance-*,
    portability-*,
    readability-*,
FormatStyle: "file"
WarningsAsErrors: "*"
AnalyzeTemporaryDtors: false
