/build/
/Examples/Building/KDIS_LIB/KDIS_LIB.dir/Debug/*.obj
/CMakeFiles/*.bin
/Examples/PDU/Bundle/Example_Bundle.dir/Debug/*.cache
/Examples/Extending/Link16/Example_Link16.dir/Debug/*.cache
/Examples/Building/KDIS_DLL/KDIS_DLL.dir/Debug/*.cache
*.cache
*.cmake
*.depend
*.exe
*.filters
*.ilk
*.lastbuildstate

*.log

*.manifest

*.obj

*.pdb
*.rc

*.res
*.stamp
*.tlog

*.user
*.vcxproj
/CMakeFiles/2.8.11

/CMakeFiles/*.check_cache

/Examples/Building/KDIS_DLL/Release/*.dll

/CMakeFiles/64d12f12d52a6a1866de00d01d6580ca/*.rule

*.rule

*.dll

*.exp

*.lib

*.ipch

*.sln
*.suo

CMakeCache.txt
*.sdf
/CMakeFiles/TargetDirectories.txt
/CMakeFiles/generate.stamp.list
/KDIS.opensdf
/Tests/gtest/src/googletest/src/gtest_main.cc
/Tests/gtest/
*.bin
*.db
/CMakeFiles/
*.tcl
*.opendb
*.rej
*.xml
*.lastcodeanalysissucceeded
KDIS.xcodeproj
KDIS.build
/.vs
/_deps
*.recipe
/x64
/Tests/KDIS_tests.dir/Debug
/Examples/Building/KDIS_LIB/KDIS_LIB.dir/Debug
