/KDIS/Examples/Building/KDIS_LIB/KDIS_LIB.dir/Debug/*.obj
/KDIS/CMakeFiles/*.bin
/KDIS/Examples/PDU/Bundle/Example_Bundle.dir/Debug/*.cache
/KDIS/Examples/Extending/Link16/Example_Link16.dir/Debug/*.cache
/KDIS/Examples/Building/KDIS_DLL/KDIS_DLL.dir/Debug/*.cache
*.cache
*.cmake
*.depend
*.exe
*.filters
*.ilk
*.lastbuildstate

*.log

*.manifest

*.obj

*.pdb
*.rc

*.res
*.stamp
*.tlog

*.user
*.vcxproj
/KDIS/CMakeFiles/2.8.11

/KDIS/CMakeFiles/*.check_cache

/KDIS/Examples/Building/KDIS_DLL/Release/*.dll

/KDIS/CMakeFiles/64d12f12d52a6a1866de00d01d6580ca/*.rule

*.rule

*.dll

*.exp

*.lib

*.ipch

*.sln
*.suo

CMakeCache.txt
*.sdf
KDIS/CMakeFiles/TargetDirectories.txt
KDIS/CMakeFiles/generate.stamp.list
KDIS/KDIS.opensdf
KDIS/Tests/gtest/src/googletest/src/gtest_main.cc
KDIS/Tests/gtest/
*.bin
*.db
KDIS/CMakeFiles/
*.tcl
*.opendb
*.rej
