#ifndef KDIS_KCONFIG_HPP_
#define KDIS_KCONFIG_HPP_

/**
 * @brief Project name.
 */
#define KDIS_NAME "@PROJECT_NAME@"

/**
 * @brief Project version.
 */
#define KDIS_VERSION "@PROJECT_VERSION@"

// clang-format off
/**
 * @brief KDIS version major.
 */
#define KDIS_VERSION_MAJOR (@PROJECT_VERSION_MAJOR@)

/**
 * @brief KDIS version minor.
 */
#define KDIS_VERSION_MINOR (@PROJECT_VERSION_MINOR@)

/**
 * @brief KDIS version patch.
 */
#define KDIS_VERSION_PATCH (@PROJECT_VERSION_PATCH@)
// clang-format on

/**
 * @brief Default receive address.
 */
#define KDIS_CONNECTION_DEFAULT_RECV_ADDRESS "127.0.0.1"

/**
 * @brief Default receive port.
 */
#define KDIS_CONNECTION_DEFAULT_RECV_PORT (3000)

/**
 * @brief Default send address.
 */
#define KDIS_CONNECTION_DEFAULT_SEND_ADDRESS "127.0.0.1"

/**
 * @brief Default send port.
 */
#define KDIS_CONNECTION_DEFAULT_SEND_PORT (3000)

#endif  // KDIS_KCONFIG_HPP_
